body {
	color: #333333;
	font: 400 1em/1.5em 'Open Sans', Verdana, Helvetica, sans-serif;
	min-width: 320px;
	
	/*background-image: -webkit-linear-gradient(#eee .05em, transparent .05em);
    background-image:    -moz-linear-gradient(#eee 1px, transparent 1px);
    background-image:     -ms-linear-gradient(#eee 1px, transparent 1px);
    background-image:      -o-linear-gradient(#eee 1px, transparent 1px);
    background-image:         linear-gradient(#eee 1px, transparent 1px);
    background-size: 100% 1.5em;*/
}

a {
	color: #E09020;
}

h1, h2, h3, h4, h5 {
	/*font-family: 'Bree Serif', Georgia, serif;*/
	font-weight:600;
}

.page {
	
}

.page > .header {
	background-color: #F1F2F3;
	margin: 0 0 1.5em 0;
	padding: 3em;
	text-align: center;
}

.brand {

}

.brand > .title {
	color: #222222;
    font-size: 4em;
    line-height: 1.125em;
    margin: 0;
}

.brand > .slogan {
	font-size: 2em;
    line-height: 1.5em;
    margin: 0;
}
.page > .header > .menu {
	font-size: 1.25em;
	margin: 0;
}

.page > .header > .menu > .item {
	background-color: #999900;
	border-radius: 0.2em 0.2em 0.2em 0.2em;
	color: #FFFFFF;
	display: inline-block;
	font-size: 1em;
	line-height: 1em;
	margin-right: 0.3em;
	margin-bottom: 1.2em;
	padding: 0.7em 1.2em;
	text-decoration: none;
	white-space: nowrap;
}

.page > .header > .menu > .item:before {
	background: url("icons.png") no-repeat scroll 0 0 transparent;
	content: " ";
	display: inline-block;
	height: 1em;
	width: 20px;
	vertical-align: bottom;
	margin-right: 0.5em;
}

.page > .header > .menu > .download.item:before {
	background-position: 0 0;
}

.page > .header > .menu > .documentation.item:before {
	background-position: -40px 0;
}

.page > .header > .menu > .demo.item:before {
	background-position: -20px 0;
}

.page > .header > .submenu {

}

.page > .header > .submenu > .item {
	color: #666;
	text-decoration: none;
	margin-right: 1em;
	display: inline-block;
	line-height: 1em;
}

.page > .header > .submenu > .item:before {
	background: url(icons.png) no-repeat;
	width: 1em;
	height: 1em;
	content: " ";
	vertical-align: bottom;
	display:inline-block;
	margin-right: 0.5em;
}

.page > .header > .submenu > .test.item:before {
	background-position: -60px 0;
}

.page > .header > .submenu > .github.item:before {
	background-position: -80px 0;
}


.page > .content {
	margin: 0 auto;
	max-width: 1114px;
	padding: 0 2em;
}

.page > .content hr {
	background-color: #ccc;
}

.page > .content ul {
	list-style: circle outside none;
	padding: 0;
}

.page > .content em {
	color: #666666;
	font-style: normal;
}

.page > .content pre {
	background-color: #F1F2F3;
}

.page > .footer {
	font-size: 0.625em;
	line-height: 1.2em;
	color: #666;
	margin: -1px 0 0;
	padding: 1.2em 0;
	border-top: #F1F2F3 solid 1px;
	text-align: center;
}

.page > .footer p {
	margin-bottom: 1.2em;
}

/**
 * 	Demos
 */
.feed {
	column-gap: 0;
	-moz-column-gap: 0;
	-webkit-column-gap: 0;
	column-width: 320px;
	-moz-column-width: 320px;
	-webkit-column-width: 320px;
	font-size: 0.75em;
	line-height: 1.5em;
}

.feed > .entry {
	border: 1px solid #ccc;
	border-radius: 2em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: inline-block;
	padding: 3em;
	margin: 0 0 1em 0;
	width: 359px;
}

.feed > .entry p {
	margin-bottom: 1.5em;
}

.feed > .entry img,
.feed > .entry iframe {
	display: block;
	max-width: 100%;
}

.feed > .entry .author {
	font-weight: 600;
	margin-bottom: 0.75em;
}

.feed > .entry .publishedDate {
	display: inline-block;
	height: 16px;
	background-color: #64B6B1;
	color: #fff;
	line-height: 16px;
	vertical-align: middle;
	font-size: 11px;
	padding: 0 1em;
	border-radius: 2px;
}

.feed > .entry .link {
	display: inline-block;
	width: 16px;
	height: 16px;
	text-indent: -999em;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.feed > .facebook.entry .link {
	background-image: url(i/facebook.png);
}

.feed > .twitter.entry .link {
	background-image: url(i/twitter.png);
}

.feed > .tumblr.entry .link {
	background-image: url(i/tumblr.png);
}

br + br {
	height: 0;
}
.feed > .pinterest.entry .link {
	background-image: url(i/pinterest.png);
}