body {
	font: 400 1em/1.5em 'Oswald', sans-serif; /* font-size: 16px, line-height: 24px */
	background-color: #111111;
	color: #FBF2DF;
	min-width: 320px;
}

a {
	color: #FF9000;
}

p:last-of-type {
	margin-bottom: 0;
}

.page {
	margin: 0 auto;
	max-width: 1114px;
}

.page > .header {
	font-size: 1.31em; /* 21px */
	line-height: 1.2em; /* 25.2 */
	margin: 2em 0;
}

.brand {
	border-left: 1em #990000 solid;
	padding-left: 1em;
}

.brand > .title {
	font-size: 2em;
	line-height: 1.2em;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	color: #FF9000;
}

.brand > .slogan {
	font-size: 1.5em;
	line-height: 1.2em;
	margin: 0 0 0.25em 0;
}

.page > .header > .menu {
	margin: 1em 0;
}

.page > .header > .menu > .item {
	background-color: #990000;
	border-radius: 0.2em;
	color: #FFFFFF;
	display: inline-block;
	font-size: 0.8em;
	line-height: 1em;
	padding: 0.5em 1em;
	text-decoration: none;
	white-space: nowrap;
}

.page > .header > .menu > .item a {
	color: #FFFFFF;
	text-decoration: none;
}

.page > .header > .menu > .download.item {
	background-color: #FF9000;
}

.page > .content {
	font-weight: 300;
}

.page > .content h1,
.page > .content h2,
.page > .content h3,
.page > .content h4,
.page > .content h5,
.page > .content h6 {
	border-bottom: 1px solid #333;
	color: #990000;
	line-height: 1.5em;
}

.page > .content hr {
	border: none;
	height: 1px;
	background-color: #333;
}

.page > .content ul {
	list-style: circle outside;
	padding: 0;
}

.page > .content em {
	color: #666;
	font-style: normal;
}

.page > .content pre {
	background-color: #000;
	font-size: 0.875em;
	line-height: 1.2em;
	padding: 1em;
}
